h1{
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
html{
  scroll-behavior: smooth;
}
body{
  background-image:url("");
  background-repeat: repeat;
  background-attachment: contents;
}
#section1{
  height: 300px;
  background-color: antiquewhite;
  text-align: center;
  box-sizing: border-box;
  
}
#section2{
  height: 300px ;
  background-color: antiquewhite;
}
#section3{
  height: 300px;
  background-color: antiquewhite;

}
    
p{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
  }
  


