h1{
    background-color:aqua;
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    animation-duration: 3s;
    animation-name: slide-in;
}
  @keyframes slide-in{
    from{
      margin-right: 100% ;
      width : 108%;
    }
    to  {
      margin-right: 0% ;
      width : 100%  ;
    }
  }

.drop{
  width: auto;
  height: 100px;
  background-color: red;
  animation-name: CC;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
@keyframes CC {
  0% {background-color: aquamarine;}
  25% {background-color: blueviolet;}
  50% {background-color: aqua;}
  75% {background-color: mediumseagreen;}
  100% {background-color: aquamarine;}
}
.damn{
  animation-name: cr ;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 24px;
  margin-left:auto;
  margin-right:auto;
}
@keyframes cr{
  0% {background-color:blueviolet ;}
  25% {background-color: aquamarine;}
  50% {background-color: mediumseagreen;}
  75% {background-color: aqua ;}
  85% {background-color: pink ;}
  100% {background-color: blueviolet;}
}
.space{
  width: 940px;
  height: 10px;
  background-color: khaki;
  animation-duration: 3s;
  animation-name: slide-in;
}
html{
  scroll-behavior: smooth;
}
#section1{
  text-align: center;
  margin-left: auto ;
  margin-right: auto;
  margin-top: 250px;
  margin-bottom: 300px;
  width: 1000px;
  padding-right: 60px;
}
#section2{
  text-align: center;
  margin-left: auto ;
  margin-right: auto;
  margin-top: 250px;
  margin-bottom: 300px;
  width: 1000px;
  padding-right: 60px;
  
}
#section3{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
  margin-bottom: 300px;
  width: 1000px;
  padding-right: 60px;
}
    
p{
    background-color: lightpink;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    animation-duration: 3s;
    animation-name: slide-in;
  }
li{
  font-family: 'Baloo 2', cursive;
}
.parallax{
  background-image: url("bgimg.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.para2{
  background-image: url("bgimg2.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.para3{
  background-image: url("bgimg3.jpg");
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}